.idea
elt-dbt/app.log
elt-dbt/.idea
elt-dbt/transformations/logs/
elt-dbt/transformations/target/
elt-dbt/transformations/dbt_packages/
etl-mageai/.idea
map-reduce-examples/data/ml-100k/allbut.pl
map-reduce-examples/data/ml-100k/mku.sh
map-reduce-examples/data/ml-100k/README
map-reduce-examples/data/ml-100k/u.genre
map-reduce-examples/data/ml-100k/u.info
map-reduce-examples/data/ml-100k/u.item
map-reduce-examples/data/ml-100k/u.occupation
map-reduce-examples/data/ml-100k/u.user
map-reduce-examples/data/ml-100k/u1.base
map-reduce-examples/data/ml-100k/u1.test
map-reduce-examples/data/ml-100k/u2.base
map-reduce-examples/data/ml-100k/u2.test
map-reduce-examples/data/ml-100k/u3.base
map-reduce-examples/data/ml-100k/u3.test
map-reduce-examples/data/ml-100k/u4.base
map-reduce-examples/data/ml-100k/u4.test
map-reduce-examples/data/ml-100k/u5.base
map-reduce-examples/data/ml-100k/u5.test
map-reduce-examples/data/ml-100k/ua.base
map-reduce-examples/data/ml-100k/ua.test
map-reduce-examples/data/ml-100k/ub.base
map-reduce-examples/data/ml-100k/ub.test
map-reduce-examples/.idea