data/ml-100k/allbut.pl
data/ml-100k/mku.sh
data/ml-100k/README
data/ml-100k/u.genre
data/ml-100k/u.info
data/ml-100k/u.item
data/ml-100k/u.occupation
data/ml-100k/u.user
data/ml-100k/u1.base
data/ml-100k/u1.test
data/ml-100k/u2.base
data/ml-100k/u2.test
data/ml-100k/u3.base
data/ml-100k/u3.test
data/ml-100k/u4.base
data/ml-100k/u4.test
data/ml-100k/u5.base
data/ml-100k/u5.test
data/ml-100k/ua.base
data/ml-100k/ua.test
data/ml-100k/ub.base
data/ml-100k/ub.test
.idea