venv
.idea
/.ipynb_checkpoints/
/ny_taxi_postgres_data/
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
*.parquet
/dbt/fhv-dbt-project/target/
/dbt/fhv-dbt-project/dbt_packages/
/dbt/fhv-dbt-project/logs/